.home-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../Images/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.home-title {
    font-size: clamp(20pt, 4vw, 60pt);
    color: rgb(255, 0, 0);
    font-weight: bold;
}



.home-subtitle {
    font-size: clamp(10pt, 4vw, 40pt);
    color: rgb(255, 255, 255);
}

.upload {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.upload-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-box {
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.upload-box {
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.upload-Icon {
    font-size: 50pt;
}

.upload-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.nofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.nofileicon {
    font-size: 50pt;
    color: black;
}

.nofiletitle {
    font-size: 20pt;
}

#uploaddeleytext {
    display: none;
}

@media only screen and (max-width:600px) {
    .auth-form {
        width: 60% !important;
    }

    .home-title {
        font-size: 14pt !important;
    }

    .home-subtitle {
        font-size: 12pt !important;
    }


}